<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'Core/main.html' %}

    {% block content %}
        <h3>producto</h3>
    {% endblock content %}
    
    <form action="" method="post"></form>
    {% csrf_token %}
        <input type="text" name="username" placeholder="Nombre de Usuario">
        <br>
        <input type="text" name="password" placeholder="Contraseña">
        <br>
        <button type="submit">Iniciar sesión</button>
</form>
</body>
</html>