{% extends 'Core/baseUser.html' %}
{% load static %}
{% block body %}
<style>
    .pedido-table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.pedido-table th,
.pedido-table td {
  border: none;
  padding: 8px;
  text-align: center;
}

.pedido-table th {
  background-color: #f2f2f2;
}

.main{
    background-color: white;
}
.title {
    text-align: center;
}
.precio{
    width: 10vw;
}
.form-buttons {
        text-align: center;
        margin-top: 20px; /* Espacio superior para separar los botones del contenido anterior */
    }

    .form-buttons button {
        padding: 10px 20px; /* Espacio alrededor del texto del botón */
        margin: 0 10px; /* Espacio entre los botones */
        background-color: #4CAF50; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Eliminar el borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambiar el cursor al pasar por encima */
    }

    .form-buttons button:hover {
        background-color: #45a049; /* Color de fondo más oscuro al pasar el cursor */
    }
</style>
    <h1 class="title">
        Detalles de mi reserva

    {%if pedidos%}
    {%else%}
    <p>No has hecho pedidos</p>
    {%endif%}
    </h1><table class="pedido-table">
        <thead>
          <tr>
            <th colspan="2">Reserva: </th>
            
          </tr>
          <tr>
            <th></th>
            <th class="precio">Precio</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Costo total estadia</td>
              <td>{{ factura.total }}</td>
            </tr>
        </tbody>
      </table>
    

    {% for pedido, productos in productos_por_pedido.items %}
  <table class="pedido-table">
    <thead>
      <tr>
        <th colspan="2">Pedido: {{ pedido.estado  }}</th>
        
      </tr>
      <tr>
        <th>Producto</th>
        <th class="precio">Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
          <td>{{ producto.nomProducto }}</td>
          <td>{{ producto.precio }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
<table class="pedido-table">
    <thead>
      <tr>
        <th colspan="2">Total a pagar: </th>
        
      </tr>
      <tr>
        <th></th>
        <th class="precio">{{totalPagar}}</th>
      </tr>
    </thead>
</table>
    {% if id_estado == 9 %}
    <form method="post" class="form-buttons">
        {% csrf_token %}
        
        <button type="submit" name="action" value="pagar">Pagar</button>
        <button type="submit" name="action" value="hacer_pedido">Hacer pedido</button>
    </form>
    {% else %}
    <form method="post" class="form-buttons">
      {% csrf_token %}
      
      <button type="submit" name="action" value="pagar">Pagar</button>
  </form>
    {% endif %}

{% endblock %}