{% extends 'Core/baseUser.html' %}

{% load static %}

{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
    body{
        background: white;
    }
    .calendar{
        width: 350px;
        background-color: #fff;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        border-radius: 5px;
        box-shadow: 0 10px 29px -7px rgba(63,63,63,0.48);
    }
    
    .calendar-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .calendar-header button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }
    
    .calendar-body{
        display: grid;
        grid-template-columns: repeat(7,1fr);
    }
    
    .calendar-day{
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 10px;
        margin: 5px;
        text-align: center;
        cursor: pointer;
    }
    
    .calendar-day:hover{
        background-color: #ddd !important;
        transition: background-color 0.3s ease;
    }
    
    .calendar-day.selected{
        border: 1px solid #003879d0;
        background-color: rgba(70,201,240);
    }
    
    .calendar-day.range{
        border: 1px solid #007900d0;
        background-color: rgba(86,238,86);
    }
    
    #prevBtn, #nextBtn{
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 0 10px 0 10px;
        border-radius: 50%;
        background-color: #fff;
    }
    
    #prevBtn:hover{
        background-color: #ddd !important;
        transition: background-color 0.3s ease;
    }
    
    #nextBtn:hover{
        background-color: #ddd !important;
        transition: background-color 0.3s ease;
    }
    
    #selectedDates{
        font-family: 'Poppins';
    }
    
    #currentMonth{
        font-family: 'Poppins';
        font-size: 18px;
    }
    .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="date"],
select,
input[type="submit"] {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
</style>
    <body>
        <div>
        <div>
            <div>
                <label for="FechaEntrada">Fecha de Entrada</label>
                
            </div>
        </div>
        <div class="container1">
            <form action="" method="POST" value="buscar">
                {% csrf_token %}
                {{fechas.fechaEntrada}}
                <input type="date" name="dateEntrada" id="dateEntrada" placeholder="Fecha Entrada"  value="{{ fechas.fechaEntrada }}" >
                <input type="date" name="dateSalida" id="dateSalida" placeholder="Fecha Salida"  value="{{ fechas.fechaSalida }}">
                <select name="cabaña" id="">
                    {% for cabaña in cabañas %}
                    <option value="{{ cabaña.id }}">{{ cabaña.nomCabaña }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Buscar">

            </form>
        </div>
        </div>
        <h3 id="selectedDates">Fechas seleccionadas:</h3>
        <div>
        <div class="calendar">
            <div class="calendar-header">
                <button id="prevBtn" class="calendar-btn"><i class="fas fa-angle-left"></i></button>
                <h2 id="currentMonth"></h2>
                <button id="nextBtn" class="calendar-btn"><i class="fas fa-angle-right"></i></button>
            </div>
            <div id="calendarBody" class="calendar-body"></div>
        </div>
        </div>
        <script>
            var fechas_disponibles_json = '{{ fechas_disponibles_json }}';
            var fechas_disponibles = JSON.parse(fechas_disponibles_json);
            fechas_disponibles.forEach(function(fecha) {
            console.log('Día:', fecha[0], ', Mes:', fecha[1]);
            });
        </script>



        <script>

            const currentDate = new Date();
            let currentMonth = currentDate.getMonth();
            let currentYear = currentDate.getFullYear();
            let startDate = null;
            let endDate = null;
            var fechaEntra ='{{ fechas.fechaEntrada }}';
            var fechaSale = '{{ fechas.fechaSalida }}';
    
            const calendarBody = document.getElementById('calendarBody');
            const currentMonthElement = document.getElementById('currentMonth');
            const selectedDatesElement = document.getElementById('selectedDates');
            const fechaEntrada = document.getElementById('dateEntrada');
            const fechaSalida = document.getElementById('dateSalida');

    
            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');
    
            prevBtn.addEventListener('click',()=>{
                currentMonth--;
                renderCalendar();
            });
            nextBtn.addEventListener('click',()=>{
                currentMonth++;
                renderCalendar();
            });
    
            function renderCalendar(){
                const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
                const firstDayIndex = new Date(currentYear, currentMonth, 1).getDay();
    
                currentMonthElement.textContent = new Date(currentYear, currentMonth).toLocaleDateString('default',{month: 'long', year: 'numeric'});
    
                let days = '';
    
                for (let i = 1; i <= firstDayIndex; i++) {
                    days += `<div class="calendar-day"></div>`;
                }
    
                for (let i = 1; i <= daysInMonth; i++) {
                    const date = new Date(currentYear, currentMonth, i);
                    const className = getDayClassName(date);
                    if (diasOcupados(i, currentMonth+1, currentYear)){
                        days += `<div class="calendar-day ${className}" style="background-color: gray    ; cursor: default;">${i}</div>`;
                    }     
                    else {
                        days += `<div class="calendar-day ${className}" onclick="selectDate(${i})">${i}</div>`;
                    }
                }
    
                calendarBody.innerHTML = days;
            }
            function diasOcupados(dia, mes, año){
                var i=false;
                fechas_disponibles.forEach(function(fecha) {
                if (fecha[0]===dia && fecha[1]==mes)
                    i=true;
                });
                return i;
            }
    
            function selectDate(day){
                const clickedDate = new Date(currentYear, currentMonth, day);
                if (!startDate || endDate){
                    startDate = clickedDate;
                    endDate = null;
                } else if (clickedDate < startDate){
                    startDate = clickedDate;
                } else if (clickedDate > startDate){
                    endDate = clickedDate;
                }
    
                renderCalendar();
                updateSelectedDates();
            }
    
            function updateSelectedDates(){
                if(startDate && endDate){
                    selectedDatesElement.textContent = `Fechas seleccionadas: ${formatDate(startDate)} - ${formatDate(endDate)}`;
                        fechaEntrada.value = formatDate(startDate);
                        fechaSalida.value = formatDate(endDate);
                } else if (startDate){
                    selectedDatesElement.textContent = `Fechas seleccionadas: ${formatDate(startDate)}`;
                    fechaEntrada.value = formatDate(startDate);
                    fechaSalida.value = '';
                } else {
                    selectedDatesElement.textContent = `Fechas seleccionadas:`;
                    if(fechaEntra=='' && fechaSale==''){
                    fechaEntrada.value = '';
                    fechaSalida.value = '';
                    }
                }
            }
    
            function getDayClassName(date){
                if (startDate && date.toDateString() === startDate.toDateString()){
                    return 'selected';
                }
                if (endDate && date.toDateString() === endDate.toDateString()){
                    return 'selected';
                }
                if (startDate && endDate && date > startDate && date < endDate){
                    return 'range';
                }
                return '';
            }
    
            function formatDate(date){
                return `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
            }
    
            renderCalendar();
            updateSelectedDates();
        </script>
{% endblock %}