<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <aside>
            <header>
                <h1 class="logo">Tienda</h1>
            </header>
            <nav>
                <ul>
                    <li>
                        <a class="boton-menu boton-volver" href="main_pago.html">
                            <i class="bi bi-arrow-return-left"></i> Seguir comprando 
                        </a>
                    </li>
                    <li>
                        <a class="boton-menu boton-carrito active" href="carrito_pago.html">
                            Carrito 
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <h2 class="titulo-principal">Carrito</h2>
            <div class="contenedor-carrito">
               <p class="carrito-vacio">Tu carrito esta vacio. <i class="bi bi-emoji-frown"></i></p>
               
               <div class="carrito-productos">
                    <div class="carrito-producto">
                        <p>imagen</p>
                        <div class="carrito-producto-titulo">
                            <small>Titulo</small>
                            <h3>Nombre producto</h3>
                        </div>
                        <div class="carrito-producto-cantidad">
                            <small>Cantidad</small>
                            <p>1</p>
                        </div>
                        <div class="carrito-producto-precio">
                            <small>Precio</small>
                            <p>1$</p>
                        </div>
                        <div class="carrito-producto-subtotal">
                            <small>Subtotal</small>
                            <p>1$</p>
                        </div>
                        <button class="carrito-producto-eliminar"><i class="bi bi-trash-fill"></i></button>
                    </div>
               </div>
               <div class="carrito-acciones">
                <div class="carrito-acciones-izquierda">
                    <button class="carrito-acciones-vaciar">Vaciar carrito</button>
                </div>
                <div class="carrito-acciones-derecha">
                    <div class="carrito-acciones-total">
                    <p>Total</p>
                    <p class="total">$$$</p>
                    </div>
                    <button class="carrito-opciones-comprar">Comprar</button>
                </div>
               </div>
            </div>
        </main>
    </div>
</body>
</html>