@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.contenedor {
  display: block;
  max-width: 80%;
  margin: auto;
  margin-top: 3%;
}

.head_contenedor {
  max-width: 80%;
  margin: auto;
}

/*--------------header--------*/
header {
  height: 8vh;
}

.logo img {
  width: 120px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.hamburguesa {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}

header ul li a:hover {
  color: #C1B086;
}

@media only screen and (max-width: 768px) {
  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hamburguesa {
    display: block;
    cursor: pointer;
  }

  .hamburguesa.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguesa.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguesa.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*--------------header--------*/

/*--------------Principal--------*/
.principal .imagen img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.principal .text {
  max-width: 50%;
  color: white;
  margin: 20% 0 0 10%;
}

.principal h1 {
  font-size: 80px;
  font-weight: 400;
}

.principal p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 17px;
  margin: 50px 0 0 50px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}

.principal button {
  margin-left: 50px;
}

.principal .item-imagen {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.principal .item-imagen img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.principal .item-imagen img.activo {
  border: 2px solid white;
}

.principal .box .text {
  position: relative;
}

/*--------------Principal--------*/


/*--------------acercade--------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.izquierda, .derecha {
  width: 50%;
}

.acercade {
  margin-bottom: 50px;
}

.acercade .img {
  position: relative;
}

.acercade .imagen1 {
  width: 310px;
  height: 450px;
}

.acercade .imagen2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}

.encabezado {
  position: relative;
}

.encabezado::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #C1B086;
}

.encabezado h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.encabezado h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.encabezado p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.encabezado .bton1 {
  margin: 50px 0 20px 50px;
}

.bton1 {
  background: #C1B086;
  color: white;
}

/*--------------acercade--------*/

/*--------------wrapper--------*/
.wrapper{
  background-image: url("../imagenes/ami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  margin-top: 5%;
}

.wrapper .text{
  background: #3f9cc1;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
}

.wrapper .contenido{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2{
  font-weight: 400;
}

.wrapper p{
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i{
  margin: 5px 20px 0 0;
}
/*--------------wrapper--------*/

/*--------------cabaña--------*/
.flex1{
  display: flex;
  justify-content: space-between;
  margin-top: 0vh;
  color: white;
}

.cabaña .grid{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
}

.cabaña img{
  width: 80%;
  height:80%;
  left: 50%;
  right: 50%;
  display: flex;
}

.cabaña .box{
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);  
}
.cabaña .contenedor{
  margin-top: -15vh;
  max-width: 80%;
}

.cabaña .text{
  padding: 20px;
}

.cabaña h3{
  font-weight: 400;
  margin-bottom: 10px;
}

.cabaña p span{
  font-size: 12px;
  color: white;
}

.cabaña p{
  font-size: 20px;
  color: white;
}

h3{
  color: white;
}
/*--------------cabaña--------*/

/*--------------wrapper2--------*/
.wrapper2{
  background-image: url(../imagenes/w1.jpg);
}

.wrapper2 .text{
  left: 10%;
}

.wrapper2 h5 , .wrapper2 h2{
  color: white;
}

.wrapper2 img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5{
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para{
  margin-left: 10%;
}
/*--------------wrapper2--------*/

/*--------------restaurante--------*/
.restaurante img{
  width: 100%;
  height: 100%;
}

.restaurante .contenedor{
  max-width: 80%;
  height: 80%;
  display: flex;
  background-color: white;
  margin-top: -17vh;
  font-size: 0.9em;
}
.restaurante .derecha{
  padding: 50px 50px 50px 100px;
}

.restaurante h2{
  margin-bottom: 10px;
  font-weight: 400; 
}

.restaurante .text p{
  margin-bottom: 10px;
  line-height: 25px;
  padding: 0;
}

.acordeonItem{
  margin-top: 30px;
}

.acordeonItem p{
  font-size: 15px;
  opacity: 0.8;
  font-family: sans-serif;
  line-height: 20px;
}

.acordeonIEncabezado{
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  color: #C1B086;
  margin-bottom: 20px;
}

.close .acordeonItemContenido{
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
  background-color: #fff;
}

.open .acordeonItemContenido{
  padding: 30px;
  background-color: #fff;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
}
/*--------------restaurante--------*/

/*--------------galeria--------*/
.galeria img{
  width: 270px;
  height: 350px;
}

.owl-carousel .owl-next, .owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: white !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover, .owl-carousel .owl-prev:hover {
  background: #C1B086 !important;
}
/*--------------galeria--------*/

/*--------------mapa--------*/
.mapa iframe{
  width: 100%;
}
/*--------------mapa--------*/

/*--------------piedePagina--------*/
footer h3{
  margin-bottom: 20px;
}
footer .contenedor {
  display: flex;
}
footer .box{
  margin: auto;
}
footer li{
  margin-bottom: 15px;
  transition: 0.5s;
}
footer h3{
  color: black;
}

footer li:hover {
  color: #C1B086;
  cursor: pointer;
}


/*--------------piedePagina--------*/

@media only screen and (max-width:768px){
  .principal .box .text{
    max-width: 100%;
  }

  .principal .box .text::after, .principal .item-imagen {
    display: none;
  }

  .restaurante .contenedor, .acercade .contenedor, .book .contenedor {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    margin-top: 10%;
    height: auto;
  }

  .book .buscar{
    width: 100%;
  }

  .book .buscar input{
    margin-top: 0;
  }

  .izquierda, .derecha{
    width: 100%;
  }

  .wrapper .text{
    width: 80%;
  }

  .cabaña {
    margin-bottom: 100px;
  }

  .cabaña .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .restaurante .derecha {
    padding: 0;
    margin-top: 50px;
  }

  footer .pago {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width:768px) {
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }

  .principal .text{
    margin: 10% 0 0 0;
  }

  .principal h1 {
    font-size: 40px;
  }

  .acercade p, .principal p {
    margin: 50px 0 0 0;
  }

  .wrapper .text {
    padding: 10px;
    height: 600px;
  }

  .encabezado_top {
    margin-top: 100px;
  }

  .encabezado_top button {
    display: none;
  }

  .restaurante .flex {
    flex-direction: column-reverse;
  }
}
/*---------Login-----------  */
.login .contenedor{
  justify-content: center;
  align-items: center;  
  display: flex;
  flex-direction: column;
  right: 50%;
  left: 50%;
}
.container{
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span{
  font-size: 12px;
}

.container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button{
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in{
  transform: translateX(100%);
}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}