<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        hola
    </h1>
    <ul>
        <li> <a href="{% url 'home' %}">inicio</a></li>
        <li> <a href="{% url 'login' %}">productos</a></li>
        {%if request.user.is_authenticated %}
        <li> <a href="{% url 'exit' %}">salir</a></li>
        {% else %}
        <li> <a href="{% url 'login' %}">ingresar</a></li>
        {% endif %}
    </ul>

    {% block content %}{% endblock content %}
</body>
</html>